/* 将初始化代码单独成为一个文件,用来导入即可 */

body,
div,
span,
p,
a,
ul,
li,
strong,
em,
del,
ins,
h1,
h2,
h3,
h4,
input,
img,
i {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}

img {
    border: none;
    vertical-align: middle;
}

i {
    font-style: normal;
}

html,body {
    font-size: 12px;
    line-height: 1;
    height: 100%;
}

.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: 0 auto;
    /* 固定宽度以及水平居中就是版心的特点 */
}